extends default

block content
  main
    section.hero.is-primary
      .container
        .hero-body
          .columns.is-vcentered
            .column
              h1.title.is-1 URL Shortener
            .column
              form.url-form
                .field.has-addons
                  .control
                    input.url-input.input.is-medium(type='url' placeholder='Paste in a link to shorten it' required='' name='url' autofocus='')
                  .control
                    button.submit-button.is-info.button.is-medium(type='submit') Shorten!
    section.result-section.section
      .container(style='max-width: 688px')
