doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title URL Shortener
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.0/css/all.min.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css')
    link(rel='stylesheet' href='/static/style.css' type='text/css')
    link(rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon")
  body
    block content
    script(src='/static/main.js')
